{% extends "::Commentlayout.html.twig" %}
{% block body %}
Hello!
{{ knp_menu_render('CitytribeBundle:Builder:mainMenu') }}
{% if app.session.hasFlash('notice') %}
    <div class="flash-notice">
        {{ app.session.flash('notice') }}
    </div>
{% endif %}
{% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': comment } %}

{% endblock %}