{% extends "::Commentlayout.html.twig" %}
{% block body %}
Hello!2
{% if app.session.hasFlash('notice') %}
    <div class="flash-notice">
        {{ app.session.flash('notice') }}
    </div>
{% endif %}
{% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': 'foo'} %}
{% endblock %}