[submodule "vendor/twitteroauth"]
	path = vendor/twitteroauth
	url = git://github.com/ruudk/twitteroauth.git
[submodule "vendor/facebook-php-sdk"]
	path = vendor/facebook-php-sdk
	url = git://github.com/facebook/php-sdk.git
[submodule "src/OnePlusOne/OAuthBundle"]
	path = src/OnePlusOne/OAuthBundle
	url = git://github.com/ruudk/OAuthBundle.git
