<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}MycityTribe{% endblock %}</title>
		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" type="text/css" />
			<link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css" media="screen" />
		{% endblock %}
		<!-- CSS -->
		{% stylesheets '@FOSCommentBundle/Resources/assets/css/comments.css' %}
			<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
		{% endstylesheets %}

<!-- jQuery -->
<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>


	</head>
	
	<body>

		<div id="corps">
		
			{% block body %}
			{% endblock %}
			
		</div> 
 
		<div id="pied_de_page"> 
	 
		</div>
	</body>

</html>
