<div class="navigation"> 
<div class="navbar row">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="#">  </a>
            <ul class="nav">
              <li >
                <a href="{{path('Cityblog_home')}}"> <i class=" active icon-white icon-home "> </i> Home</a>
               </li>
                <li class="active">
                <a href="{{path('fos_user_registration_register')}}"> <i class=" active icon-white icon-home "></i> Register</a>
               </li>
               <li >
                <a href="{{path('fos_user_security_login')}}"> <i class=" active icon-white icon-home "></i> Login</a>
               </li>

             
            </ul>
        </div>
    </div>
</div>
</div>