<div class="navigation"> 
<div class="navbar row">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="#">  </a>
            <ul class="nav">
              <li class="active">
                <a href="{{path('Cityblog_home')}}">Home</a>
              </li>
              <li><a href="{{path('blog_profile_info')}}">Profile</a></li>
              <li><a href="#">Tribes</a></li>
              <li><a href="#">Messages</a></li>
            </ul>
        </div>
    </div>
</div>
</div>