<div class="right-menu">
	<p>
			<ul class="nav nav-list">
			<li class="nav-header">
		    Users Online
		  </li>
		  <li>
		    <a href="#">Comming soon...</a>
		  </li>
		</ul>
	</p>	
	<p> <ul class="nav nav-list">
	  <li class="nav-header">
	    Functionalities
	  </li>
	  <li><i class="icon-book"></i>
	    <a href="http://volagratis.com" target="_blank">Flight booking</a>
	  </li>
	  <li>
	    <a href="http://booking.com" target="_blank">Hotel booking</a>
	  </li>
	  <li>
	    <a href="#">Vacancy</a>
	  </li>
	  <li>
	    <a href="#">Flat rent</a>
	  </li>
	  <li>
	    <a href="#">E-book</a>
	  </li>
	  <li>
	    <a href="#">Documents</a>
	  </li>
	  <li>
	    <a href="#">Service</a>
	  </li>
	  <li class="divider"></li>
	  <li>
	    <a href="#">Faq</a>
	  </li>
	</ul></p>
</div>
