<div class="right-menu">
	<p>
			<ul class="nav nav-list">
			<li class="nav-header">
		    Users Online
		  </li>
		  <li>
		    <a href="#">Comming soon...</a>
		  </li>
		</ul>
	</p>	
	<p> <ul class="nav nav-list">
	  <li class="nav-header">
	    Functionalities
	  </li>
	  <li>
	    <a href="http://volagratis.com" target="_blank"><i class="icon-plane"></i> Flight booking</a>
	  </li>
	  <li>
	    <a href="http://booking.com" target="_blank"> <i class="icon-list-alt"></i> Hotel booking</a>
	  </li>
	  <li>
	    <a href="#"> <i class="icon-road"></i> Vacancy</a>
	  </li>
	  <li>
	    <a href="#"> <i class="icon-book"></i> Flat rent</a>
	  </li>
	  <li>
	    <a href="#"> <i class="icon-book"></i> E-book</a>
	  </li>
	  <li>
	    <a href="#"><i class="icon-bookmark"></i> Documents</a>
	  </li>
	  <li>
	    <a href="#"><i class="icon-gift"></i> Service</a>
	  </li>
	  <li class="divider"></li>
	  <li>
	    <a href="#"><i class="icon-question-sign"></i> Faq</a>
	  </li>
	</ul></p>
</div>
